<div class="profile-wrapper">
  <div class="dashboard-wrapper padded">
    <div class="container">
      <div class="row">
        <div class="tabs">
          <a class="tab active" href="#">
            <h3>Overview</h3>
          </a>
          <a class="tab" href="#">
            <h3>Journeys</h3>
          </a>
          <a class="tab" href="#">
            <h3>Notifcations</h3>
          </a>
          <a class="tab" href="#">
            <h3>Account settings</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content-wrapper">
      <div class="overview show">
       <%= render 'dashboard-overview' %>
      </div>
      <div class="journeys">
        <h2>Journey information will go here</h2>
      </div>
      <div class="notifications">
        <h2>Notification information will go here</h2>
      </div>
      <div class="account-settings">
        <h2>Edit account settings</h2>
      </div>
    </div>
  </div>
</div>

