<p>Hello <%= @user.first_name %></p>

<p>Your booking to <strong><%#= @journey.drop_off_location.address %></strong> at <strong><%= l(@journey.pick_up_time, format: :time_date) %></strong> has been confirmed.</p>



<p><strong>Please see a summary of your booking below:</strong></p>


<p><strong>Destination:</strong> <%#=@journey.drop_off_location.address %></p>

<p><strong>Driver:</strong> <%= @journey.user.full_name %></p>




<p>Do you know a friend who needs a lift? <%#= t('seats_available', count: @journey.remaining_seats) %>. Recommend this journey to a friend with this link: www.car-sharing-app.herokuapp.com/journeys/<%= @journey.id %></p>

<p>Thank you for booking with Warwick car share</p>

<p>Please feel free to contact us with any feedback.</p>

<p>Thanks,</p>
<p>Luke</p>
