<p>Hello <% @user.first_name%>,</p>

<p>A new passenger has joined your journey to <strong><%= @journey.drop_off_location.address %></strong> on <strong><%= l(@journey.pick_up_time, format: :time_date) %></strong></p>

<p>Please see their details below:</p>

<p><strong>Pick up location:</strong> <%#= @passenger.passenger_location.address %></p>
<p><strong>Name:</strong> <%#= @passenger.user.full_name %></p>
<p><strong>Year of study:</strong> <%#= @passenger.user.year_of_study %></p>
<p><strong>University course:</strong> <%#= @passenger.user.uni_course %></p>

<p><%= link_to 'View their profile', profile_url(id: @passenger.user.id) %></p>

<p><%= link_to 'View your updated route', journey_url(id: @journey.id) %></p>


<p>Many thanks,</p>
<p>Luke</p>
