<p>Hi <%= @user.first_name %>,</p>

<p>Thank you for signing up to Warwick Car Share!</p>

<p>Take your time to explore our website to fully utilise all our amazing features.</p>

<p>Warwick car share is cheaper, more comfortable and more reliable than the U1!</p>

<p>If you have any questions, please don't hesitate to ask.</p>

<p>Thanks,</p>
<p>Luke</p>

<a href="/">Warwick Car Share</a>
