#journey-list {
  min-height: 100vh;
  h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 100;
    margin: 50px;
    font-size: 30px;
  }
}

#journey {
  .btn-primary {
    width: 230px;
    padding: 15px;
    border-bottom: 5px solid rgb(21, 126, 171);
    font-weight: bold;
    font-size: 19px;
    transition: all 0.3s ease;
    display: block;
    margin: auto;
    &:hover {
      transform: translateY(-3px);
      border-bottom-color: rgb(26, 159, 217);
      background-color: rgb(62, 180, 232);
    }
  }
}
