<div class="form-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
        <div class="form" id="new-journey-form">
          <h2> Create a Journey </h2>
          <%= render '../../shared/journey_form' %>
        </div>
      </div>
    </div>
  </div>
</div>

















