<div class="wrapper-footer">
  <div class="made">

    We <i class="fa fa-heart" style="color: red"></i> teaching

  </div>
  <div class="share-links">
    <a href="#" class="share-link bg-facebook">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="contact@helloveronica.com" class="share-link bg-email">
      <i class="fa fa-envelope-o"></i>
    </a>
  </div>

 <div class="text-center">
    <p> London, UK  </p>
    <p> Barcelona, Spain </p>
    <p style="font-size: 12px">
      HelloVeronica.com by
      <a style="text-decoration: none" href="http://newwaves.design/">
        New Waves Design
      </a>
    </p>
</div>

</div>


