<h1>Shotgun</h1>
<p>Carsharing Service for Warwick University</p>
<div class="banner">
  <div class="container text-center">
    <div class="row">

      <div class="col-xs-12 col-sm-6">
        <div class="user-card-home">


          <div class="thumbnail">
            <img src="http://placehold.it/242x200" alt="http://placehold.it/242x200">
            <div class="caption">
              <h3>PASSENGER</h3>
              <p>YOU ARE A STUDENT?</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>

        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="user-card-home">

          <div class="thumbnail">
            <img src="http://placehold.it/242x200" alt="#">
            <div class="caption">
              <h3>DRIVER</h3>
              <p>YOU ARE A DRIVER?</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>

        </div>
      </div>


    </div>
  </div>
</div>


<section class="explanation bg-grey text-center">
  <header class="intro">
    <div class="container text-center">
      <div class="row">
        <div class="col-xs-12">
          <h2> Enough with overcrowded unique bus to Warwick University </h2>
          <p> Save Money, time and Stress</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <div class="first ">
          <img src="http://placehold.it/242x200" alt="http://placehold.it/242x200">
          <div class="list-info">
            <h2>TEST</h2>
            <p>YO YO YO</p>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <div class="middle">
          <img src="http://placehold.it/242x200" alt="http://placehold.it/242x200">
          <h2>TEST 2 </h2>
          <p>YO YO YO</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <div class="last">
          <img src="http://placehold.it/242x200" alt="http://placehold.it/242x200">
          <h2>TEST 3</h2>
          <p>YO YO YO</p>
        </div>
      </div>
    </div>
  </header>
</section>

