<div class="wrapper">
  <div class="sticky-wrapper">
    <div class="container text-center">
      <div class="row">
<h1>Shotgun</h1>
<p>Carsharing Service for Warwick University</p>
        <div class="col-xs-12 col-sm-6">
          <div class="user-card">
            <h2>PASSENGER</h2>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="user-card">
              <h2>DRIVER</h2>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
