// Your footer style
.wrapper-footer {
  background-color: #251102;
  min-height: 100px;
  display: flex;
  align-item: center;
  justify-content: space-between;
  color: white;
  font-size: 19px;
  padding: 30px;
}
.share-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}
.share-link {
  flex: 0 0 24%;
  color: white;
  font-size: 18px;
  padding: 10px 0;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  &:hover {
    color: white;
  }
}
.made {
  display: flex;
  align-items: center;
  i {
    padding: 10px;
  }
}
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}
