/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  z-index: 100;
  position: relative;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
