/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  text-align: center;
  color: black;
  padding: 10px;
  border-radius: 5px;
  background: $green;
}
.alert-warning {
  text-align: center;
  color: black;
  padding: 10px;
  border-radius: 5px;
  background: $red;
}
