.avatar {
  width: 30px;
  border-radius: 50%;
}
.avatar-large {
  width: 50px;
  border-radius: 50%;
}

.avatar-xl {
  width: 240px;
  height: 240px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 30px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 30px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-large-test {
  width: 150px;
  border-radius: 50%;
}

.avatar-square-test {
  width: 130px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
