.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $gray-lighter;
  margin-top: -70px;
  .cta {
    margin-top: 30px;
  }
  .cta .btn {
    width: 230px;
    padding: 15px;
    border-bottom: 5px solid rgb(21, 126, 171);
    font-weight: bold;
    font-size: 19px;
    transition: all 0.3s ease;
    &:hover {
      transform: translateY(-3px);
      border-bottom-color: rgb(26, 159, 217);
      background-color: rgb(62, 180, 232);
    }
  }
}
.banner h1 {
  font-size: 60px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-weight: 100;
  color: white;
  margin-bottom: 40px;
}
.banner p {
  font-size: 24px;
  font-weight: lighter;
  color: #d8d8d8;
  margin-bottom: 20px;
  font-weight: bold;
}

.banner-container {
  background-color: #5688C7;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.caption h3 {
  color: white;
}

.caption p {
  color: white;
}

#half-banner {
  width: 100%;
  height: 400px;
  background-position: center;
}
.banner-content{
  font-size: 14px;
  line-height: 1.43;
  padding-top: 30px;
}

.banner-form{
  // background-color: $gray-darker;
  // bottom: 0;
  right: 0;
  left: 0;

  padding-top: 30px;
  position: absolute;
  margin:0;
}

.banner-text{
  padding-bottom: 20px;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    // bottom: 0px;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}


.results-banner {
  height: 40vh;
  background-position: center;
}
