.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  margin: 10px;
  background-position: center;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}


.car-card {
  background-color: #ffffff;
  margin-bottom: 10px;
  height: 350px;

  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  background-color: #ffffff;
  margin-top: 10px;
  color: grey;
  font-weight: 100;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

  &:hover {
      border: 1px solid green;
  }

  .btn {
    width: auto;
    padding: 15px;
    border-bottom: 5px solid rgb(21, 126, 171);
    font-weight: bold;
    font-size: 19px;
    transition: all 0.3s ease;
    &:hover {
      transform: translateY(-10px);
      border-bottom-color: rgb(26, 159, 217);
      background-color: rgb(62, 180, 232);
    }
  }

  th {
  text-align: center;
  }

  td {
  border-top: 0px solid #ddd !important;
  }

}

.timetable-card {
  margin-bottom: 10px;;
  height: 240px;
  .btn {
    width: auto;
    padding: 15px;
    border-bottom: 5px solid rgb(21, 126, 171);
    font-weight: bold;
    font-size: 19px;
    transition: all 0.3s ease;
    &:hover {
      transform: translateY(-3px);
      border-bottom-color: rgb(26, 159, 217);
      background-color: rgb(62, 180, 232);
    }
  }

  th {
  text-align: center;
  }

  td {
  border-top: 0px solid #ddd !important;
  }
}

.search-card {

  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
  background-color: #ffffff;
  color: #9a9a9a;

  .btn {
    transition: all 0.3s ease;
    }
}


 #car-list {
  h3 {
    color: grey;
    font-size: 25px;
  }
}


