.profile-wrapper {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.79), rgba(0,0,0,0.3));
  /* margin: 20px 0; */
}
.dashboard-wrapper {
  padding: 0 10px;
}

.content-wrapper {
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 0 0 5px 5px;
  color:white;
  margin-bottom: 100px;
  h2 {
    color:#78AED9;
  }
  h3 {
    color:#78AED9;
  }
}

.overview-header {
  display: flex;
  align-items: center;
  /* margin: 10px 0; */
  padding: 20px;
  /* border: 1px solid black; */
  border-radius: 5px;
  /* background-color: #78AED9; */
  height: 110px;
  background: #484848;
  margin: 30px 0;
  h3 {
    font-size: 26px;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    font-weight: 100;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  a {
    text-decoration: none;
    font-size: 15px;
    color: white;
    &:hover {
      border-bottom: 4px solid $red;
      color: white;
    }
  }
  .progress {
    height: 32px;
    margin-top: 22px;
  }
  .progress-bar {
    color: white;
    line-height: 30px;
  }
}

.header-img {
  flex: 0 0 auto;
}

.header-info {
  flex: 0 0 auto;
  margin-left: 30px;
  a {
    text-decoration: none;
  }
  h3 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.header-progress {
  flex: 1 1 auto;
  margin: 0 60px;
}

.content-wrapper {
  h2 {
    font-size: 20px;
    font-weight: bold;
    /* text-shadow: 0px 1px rgba(0, 0, 0, 0.2); */
    font-weight: 400;
    color: #9a9a9a;
    padding-bottom: 10px;
  }
}

.dashboard-card {
  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 20px;
  background-color: #ffffff;
  margin-top: 10px;
  color: black;
  font-weight: 100;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  h2 {
    font-size: 20px;
    font-weight: bold;
    /* text-shadow: 0px 1px rgba(0, 0, 0, 0.2); */
    font-weight: 400;
    color: #9a9a9a;
    padding-bottom: 10px;
  }

  h4 {
    font-size: 20px;
    font-weight: bold;
    /* text-shadow: 0px 1px rgba(0, 0, 0, 0.2); */
    font-weight: 400;
    color: #494949;
    padding-bottom: 10px;
  }


  .btn {
    width: auto;
    padding: 15px;
    border-bottom: 5px solid rgb(21, 126, 171);
    font-weight: bold;
    font-size: 19px;
    transition: all 0.3s ease;
    margin-bottom: 15px;
    margin-top: 15px;
    &:hover {
      transform: translateY(-3px);
      border-bottom-color: rgb(26, 159, 217);
      background-color: rgb(62, 180, 232);
    }
  }
}

.car-card {
  margin-bottom: 10px;;
  height: 240px;
  .btn {
    width: auto;
    padding: 15px;
    border-bottom: 5px solid rgb(21, 126, 171);
    font-weight: bold;
    font-size: 19px;
    transition: all 0.3s ease;
    &:hover {
      transform: translateY(-3px);
      border-bottom-color: rgb(26, 159, 217);
      background-color: rgb(62, 180, 232);
    }
  }

  th {
  text-align: center;
  }

  td {
  border-top: 0px solid #ddd !important;
  }
}

.review-card {
  height: 290px;
}

.unverified {
  color: red;
  font-weight:500;
}

.verified {
  color: $green;
  font-weight: bolder;
}

 #text-times {

    color: #535353;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        cursor: pointer;
        color: #FF0000;
    }
}

#manual_info  {
  color: grey;
  font-size: 12px;
}

#second-row-table {
  border-top: 0px solid #ddd !important;
}
