.profile-wrapper {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.79), rgba(0,0,0,0.3));
  margin: 20px 0;
}
.dashboard-wrapper {
  padding: 0 10px;
}

.content-wrapper {
  background-color: #1B2639;
  padding: 20px;
  border-radius: 0 0 5px 5px;
  color:white;
  h2 {
    color:white;
  }
}

.overview-header {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #78AED9;
  h3 {
  font-size: 35px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-weight: 100;
  color: white;
  }
  a {
  font-size: 24px;
  font-weight: lighter;
  color: black;
  margin-bottom: 20px;
  font-weight: bold;
  &:hover {
    border-bottom: 4px solid $red;
    color: white;
  }
  }
}

.header-img {
  flex: 0 0 auto;
}

.header-info {
  flex: 0 0 auto;
  margin-left: 30px;
  a {
    text-decoration: none;
  }
  h3 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.header-progress {
  flex: 1 1 auto;
  margin: 0 60px;
}

.dashboard-card {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  background-color: #78AED9;
  margin-top: 10px;
  color: white;
  font-weight:100;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  h2 {
  font-size: 35px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-weight: 100;
  color: white;
  }
  .btn {
    width: 100px;
    padding: 15px;
    border-bottom: 5px solid rgb(21, 126, 171);
    font-weight: bold;
    font-size: 19px;
    transition: all 0.3s ease;
    margin-bottom: 15px;
    margin-top: 15px;
    &:hover {
      transform: translateY(-3px);
      border-bottom-color: rgb(26, 159, 217);
      background-color: rgb(62, 180, 232);
    }
  }
}

.car-card {
  margin-bottom: 30px;;
  height: 240px;
  .btn {
    width: 230px;
    padding: 15px;
    border-bottom: 5px solid rgb(21, 126, 171);
    font-weight: bold;
    font-size: 19px;
    transition: all 0.3s ease;
    &:hover {
      transform: translateY(-3px);
      border-bottom-color: rgb(26, 159, 217);
      background-color: rgb(62, 180, 232);
    }
  }
}

.review-card {
  height: 290px;
}

.unverified {
  color: red;
  font-weight:500;
}

.verified {
  color: $green;
  font-weight: bolder;
}
