.form-wrapper {
  background-color: $gray-lighter;
  min-height: 100vh;
  .btn-custom {
    width: auto;
    padding: 15px;
    border-bottom: 5px solid rgb(21, 126, 171);
    font-weight: bold;
    font-size: 19px;
    transition: all 0.3s ease;
    &:hover {
      transform: translateY(-3px);
      border-bottom-color: rgb(26, 159, 217);
      background-color: rgb(62, 180, 232);
    }
  }
}

.form {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 1px 1px 1px $gray-light;
  margin: 60px 0;
  h1 {
    text-align: center;
  }
}

.bootstrap-datetimepicker-widget table td {
  background: none;
  color: black !important;
  cursor: not-allowed;
}
.bootstrap-datetimepicker-widget table thead th {
  color: black !important;
}
