.journey-details {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  align-items: center;
  h2 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 100;
    color: $orange;
    opacity: 1;
  }
  .from, .to, .pick-up {
    text-align: center;
  }
  .fi-arrow-right {
    font-size: 25px;
    color: #F4F4F4;
  }
  p {
    font-size: 14px;
    font-weight: bold;
    color: #585858;
  }

}
#bkg-confirmation-modal{
  color:black;

  .btn {
    width: auto;
    padding: 15px;
    border-bottom: 5px solid rgb(21, 126, 171);
    font-weight: bold;
    font-size: 19px;
    transition: all 0.3s ease;
    &:hover {
      transform: translateY(-3px);
      border-bottom-color: rgb(26, 159, 217);
      background-color: rgb(62, 180, 232);
    }
  }
}

.journey-passengers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding-top: 20px;
  p {
    margin-bottom: 0px;
    color: #cccccc;
  }
  .avatar-large {
    width: 40px !important;
    height: 40px !important;
    margin-left: 10px;
  }
}

#gmap {
    position: relative;
    z-index: 0;
    margin-top: 0;
    text-align: left;
    max-width: 100%;
    color: #37474f;
    height: 450px;
}

.journey-body {
  position: relative;
  z-index: 0;

  .driver-links {
    position: absolute;
    top: 0px;
    right: 0px;
    color: $gray-lighter;
    z-index: 10;
  }
}
.driver-card {
  text-align: center;
  min-width: 100px;
  font-size: 13px;
  padding-right: 10px;
  align-self: flex-start;
  .name {
    font-weight: bold;
    padding-top: 5px;
    margin-bottom: 4px;
  }
  .car {
    color: #bbbbbb;
  }
}
.driver-description {
  padding: 10px;
  border-left: 1px solid #f1f1f1;
  h4 {
    font-weight: bold;
    font-size: 17px;
    text-align: center;
  }
  p {
    font-size: 14px;
  }

  i:hover {
    color: green;
    cursor: pointer;
  }

  i {
    font-size: 20px;
  }

  .non-smoking:hover {
    color: red;
  }
}
.driver-links a .fa {
  color: $gray-lighter;
  opacity: 0;

}
.driver-links a .fa:hover {
   color: black;
}
.user-card:hover .driver-links .fa {
  opacity: 1;
}
.btn-booking {
  background-color: $orange;
}
