.wrapper  {
  height: auto;
  margin: 0px;
  display: flex;
  align-items: center;
  padding: 50px;
  color: white;
  min-height: 100vh;
}

.product {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
  margin-bottom: 10px;
}

/* Body design */
.product-body {
  flex: 1 1 auto;
}
.product-body h3 {
  font-weight: bold;
  font-size: 23px;
  margin-top: 0;
}
.product-body p {
  margin-bottom: 10px;
}

.product-body li {
  // font-weight: lighter;
  color: #999999;
  margin-bottom: 0;
  p {
    color: black;
    margin-left: 10px;
  }
}

/* Product image */
.product-image {
  border-radius: 10px;
  margin-right: 20px;
  width: 300px;
}

.product-link {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  background-color: black;
  opacity: 0;
}

/* Controls design */
.product-controls {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}
.product-controls a {
  padding: 0 20px;
  font-size: 17px;
  color: #E6E6E6;
}
.product-controls a:hover {
  color: #D3473C !important
}
.product-controls-hidden a {
  color: transparent;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}



/* Hover effects */
.product:hover {
  background: #f7f7fa;
  cursor: pointer;
}

.product-link:hover{
  opacity: 0.1;
  border-radius: 3px;
}

