.wrapper-user {
  background-color: $gray-lighter;
  min-height: 100vh;
  padding: 30px 0;
}

.user-card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 1px $gray-light;
  padding: 20px;
  margin: 10px;
  h2 {
    margin: 10px 0;
  }
}

.user-card-home {
  background-color: #4682AE;
  border-radius: 5px;
  box-shadow: 1px 1px 1px $gray-light;
  padding: 20px;
  margin: 10px;
  h2 {
    margin: 10px 0;
  }
}

.user-card-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.user-card-photo {
  flex: 0 0 auto;
  margin-left: 10px;
  margin-right: 40px;
}

.chef-card-photo {
  flex: 0 0 auto;
}

.user-card-details {
  min-height: 180px;
  flex: 1 0 auto;
  h2 {
    text-align: text-center;
  }
}

.user-card-btn {
  width: 100%;
  margin-top: 10px;
}

.user-card-list {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: black;
  img {
    flex: 0 0 auto;
    margin-right: 10px;
  }
}

.user-card-list-name {
  flex: 1 0 auto;
  margin: 0 0 0 0px;
  text-decoration: none;
}


.list-edit-btn {
  flex: 0 0 auto;
  margin-right: 10px;
}

.list-delete-btn {
  flex: 0 0 auto;
}

.user-card-empty-list {
  color: $gray-light;
}

.list-view-button {
  flex: 0 0 auto;
  margin-right: 10px;
  padding: 5px 10px;
}
