<% content_for :title, "Update your Car | LiftIn" %>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h2>Update your car details</h2>
        <%= render 'car_form' %>
      </div>
    </div>
  </div>
</div>
