<div class='lift-bacground'>

<% content_for :title, I18n.t('.update') %>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h2></h2>
        <%= render 'car_form' %>
      </div>
    </div>
  </div>
</div>

</div>
