<% content_for :title, "#{@car.user.full_name}'s Car | LiftIn" %>

<h2>Car owner: <%= "#{@car.user.first_name} #{@car.user.last_name}" %></h2>
<ul>
  <li>Make: <%#= @car.make %></li>

</ul>

<% content_for :title, "#{@user.first_name}'s Profile | LiftIn" %>
<div class="dashboard-wrapper padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="dashboard-card" style="margin-bottom: 70px;">
          <%= render 'teacher_profile' %>
        </div>
      </div>
    </div>
  </div>
</div>
