<p>Welcome <%= @email%>!</p>

<p>You can confirm your account email through the link below. You will need to confirm your account before you can proceed with a booking.</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>This link is only valid for 14 days.</p>

<p>Thanks,</p>
<p>Luke, Max and Disha</p>
