<div class="card">
  <div class="card-category">Journey</div>
    <div class="card-description">
      <h2> <%= journey.pick_up_location %></h2>
      <h3> <%= journey.pick_up_time %> </h3>
    </div>
</div>
