<div class="form-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
        <div class="form" id="edit-journey-form">
          <h2> Edit your Journey </h2>
          <%= render 'journey_form' %>
        </div>
      </div>
    </div>
  </div>
</div>
