<% content_for :title, "All Journeys | LiftIn" %>
<div class="container" id="journey-list">
  <h1 class="text-center"><strong><%= @journeys.count %></strong> rides today</h1>
  <div class="row">
    <% @available_journeys.each do |j| %>
    <div class="col-xs-12 col-sm-6">
      <%= render "card", journey: j %>
    </div>
    <% end %>
  </div>
</div>
